.jumbotron {
  background-image: url("../image/waterfront.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
}
.jumbotron .title {
  text-align: center;
  color: white;
}
.row {
  font-weight: 600;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.4em;
  color:white;
}
.container {
  margin: 55px;
}
.link{
  font-weight: 800;
  text-decoration: none;
  color:purple;
  font-size: 30px !important;
}
