* {
  font-family: arial rounded mt bold; 
}
body {
  background: url(../image/kerryPark.jpeg) no-repeat center center fixed;
  background-size: cover;
  /* font-family: roboto, san-serif; */
}
/* intro */
.intro {
  color: black;
  text-align: center;
  height: 100%;
  width: 100%;
  padding: 5%;
  resize: both;
  overflow: auto;
  display: inline-block;
}
#text {
  color: black;
  font-size: 8rem;
  padding-top: 50px;
  text-transform: capitalize;
}
/* end intro */

/* about me page */
.about {
  background: linear-gradient(rgb(172, 226, 249), black);
  opacity: 0.93;
  padding: 5%;
  height: 100%;
  width: 100%;
  text-align: left;
  resize: both;
  overflow: auto;
  display: inline-block;
}
p {
  color: beige;
  font-size: 20px;
  padding-left: 50px;
  padding-top: 50px;
  font-weight: 500;
}
.head {
  color: beige;
  text-align: center;
  font-size: 8rem;
  padding-top: 1rem;
}
.myPic {
  padding-left: 90px;

  width: 80%;
  height: auto;
}
.link {
  text-decoration: none;
  color: purple;
  font-weight: bold;
}
/* end about me page */

/* works */
.work {
  background: linear-gradient(black, grey, black);
  opacity: 0.95;
  padding: 5%;
  height: 100%;
  width: 100%;
  resize: both;
  overflow: auto;
  display: inline-block;
 
}
.workPageTitle {
  color: beige;
  font-size: 8rem;
  text-align: center;
  padding-top: 2rem;
}
#photoPage {
  text-align: center;
  margin: 15px;
  font-size: 30px;
  text-transform: capitalize;
}
.view{
  text-decoration: none;
  color: beige;
  font-weight: 900;
}
.row{
  align-items: center;
}
/* end works */

/* contact */
.contact {
  background-color: black;
  opacity: 0.95;
  height: 100%;
  width: 100%;
  resize: both;
  overflow: auto;
  padding: 5%;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 8rem;
}
.mail {
  
  margin: 15%;
  padding: 100px;
  height: 80% auto;
  width: auto;
  resize: both;
  overflow: auto;
  background: radial-gradient(grey, black, black);
  opacity: 0.97;
  text-align: center;
}
#email {
  text-decoration: none;
  color: purple;
}
/* end contact */

/* menu  */
.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
  overflow-y: hidden;
  transition: 0.5s;
}

.content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: grey;
  display: black;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: white;
}

.close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px !important;
}

.menu {
  cursor: pointer;
  font-weight: bold;
  padding: 30px 20px;
  font-weight: bold;
  font-size: 30px !important;

  display: inline-block;
}
/* end menu */

/* back to top */
.backToTop {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  bottom: 10px;
  margin-left: 89%;
  position: fixed;
  background-color: transparent;
  border: none;
  text-decoration: none;
}
/* end back to top */

/*image responsive*/
/* #gamePicMain, #gamePicTow{
  align-items: center;
} */
/*end image responsive