* {
    box-sizing: border-box;
  }
/* div class table */
.table{
  border-collapse: collapse;
}
/* end div class table*/

  /* table */
  table {
    width: 80%;
    border: 5px solid black;
    
  }
  .photo {
    background-color:white;
    padding: 2px;
    align-content: center;
    resize: both;
    overflow: auto;
  }
  /* end table */
  
  .title {
    text-align: center;
    font-family: cursive;
    font-size: 5rem;
    color: beige;
  }
  tbody {
   
    background-color: black;
    margin: 50px;
  }
  footer {
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    color: beige;
  }
  